<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="./Estilo/login.css">
    <link rel="icon" href="./imagens/socratesroxo.png" type="image/png">

</head>
<body>

    <div class="container-geral">


        <div class="circulo">
            <img src="./imagens/socrates.png" alt="Logo">
        </div>

      
        <div class="container">

            <h1>Cadastro</h1>

            <form>

                <div class="campo">
                    <label for="tipo">Sou</label>

                    <select id="tipo">
                        <option value=""></option>
                        <option value="aluno">Aluno</option>
                        <option value="estudante">Estudante</option>
                        <option value="professor">Professor</option>
                    </select>
                </div>

                <div class="campo">
                    <label for="area">Área</label>

                    <select id="area">
                        <option value=""></option>
                        <option>Tecnologia da Informação</option>
                        <option>Saúde</option>
                        <option>Ciências da Natureza</option>
                    </select>
                </div>

                <div class="campo">
                    <label for="curso">Curso</label>

                    <input type="text" id="curso">
                </div>

                <button type="submit">
                    Login
                </button>

            </form>

        </div>

    </div>

</body>
</html>