<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socrates - Materiais</title>
    <link rel="stylesheet" href="./Estilo/home.css">
    <link rel="icon" href="./imagens/socratesroxo.png" type="image/png">

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    >
</head>
<body>

    <div class="sidebar">

        <div class="logo">
            <i class="fa-solid fa-graduation-cap"></i>
        </div>

        <nav>

            <a href="#" class="active">
                <i class="fa-solid fa-table-cells-large"></i>
            </a>

            <a href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>

            <a href="#">
                <i class="fa-regular fa-file-lines"></i>
            </a>

            <a href="#">
                <i class="fa-solid fa-folder-open"></i>
            </a>

            <a href="/alterar_perfil">
                <i class="fa-regular fa-circle-user"></i>
            </a>

        </nav>

        <div class="logout">
            <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
        </div>

    </div>

    <main>

        <header>

            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input
                    type="text"
                    placeholder="Pesquisar Material"
                >
            </div>

            <a href="/alterar_perfil" class="perfil-link">
                <img
                    src="{{FOTO}}"
                    alt="perfil"
                    class="avatar"
                >
                <span class="perfil-nome">{{NOME}}</span>
            </a>

        </header>

        <section class="content">

            <h2>Materiais disponíveis</h2>

            <div class="filters">
                <button class="active">TUDO</button>
                <button>Vídeos</button>
                <button>Apostilas</button>
            </div>

            <div class="cards">

                <div class="card">

                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg"
                        class="course-image"
                    >

                    <div class="student">

                        <img
                            src="https://i.pravatar.cc/50"
                            alt=""
                        >

                        <span>Aluno(a): Maria Silva</span>

                    </div>

                    <h3>Curso de Node JS</h3>

                    <div class="info">
                        <span>Dificuldade</span>
                        <span>Média</span>
                    </div>

                    <div class="info">
                        <span>Arquivos</span>
                        <span>1</span>
                    </div>

                    <div class="info">
                        <span>Tipo</span>
                        <span>PDF</span>
                    </div>

                    <button>
                        Visualizar
                    </button>

                </div>

                <div class="card">

                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg"
                        class="course-image"
                    >

                    <div class="student">
                        <img src="https://i.pravatar.cc/50">
                        <span>Aluno(a): Maria Silva</span>
                    </div>

                    <h3>Curso de Node JS</h3>

                    <div class="info">
                        <span>Dificuldade</span>
                        <span>Média</span>
                    </div>

                    <div class="info">
                        <span>Arquivos</span>
                        <span>1</span>
                    </div>

                    <div class="info">
                        <span>Tipo</span>
                        <span>PDF</span>
                    </div>

                    <button>
                        Visualizar
                    </button>

                </div>

                <div class="card">

                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg"
                        class="course-image"
                    >

                    <div class="student">
                        <img src="https://i.pravatar.cc/50">
                        <span>Aluno(a): Maria Silva</span>
                    </div>

                    <h3>Curso de Node JS</h3>

                    <div class="info">
                        <span>Dificuldade</span>
                        <span>Média</span>
                    </div>

                    <div class="info">
                        <span>Arquivos</span>
                        <span>1</span>
                    </div>

                    <div class="info">
                        <span>Tipo</span>
                        <span>PDF</span>
                    </div>

                    <button>
                        Visualizar
                    </button>

                </div>

            </div>

        </section>

    </main>

</body>
</html>